{
  "swagger": "2.0",
  "info": {
    "title": "Safe Transaction Service API",
    "description": "API to keep track of transactions sent via Safe smart contracts",
    "license": {
      "name": "MIT License"
    },
    "version": "v1"
  },
  "host": "safe-transaction-mainnet.safe.global",
  "schemes": [
    "https"
  ],
  "basePath": "/api",
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "securityDefinitions": {
    "api_key": {
      "type": "apiKey",
      "in": "header",
      "name": "Authorization"
    }
  },
  "security": [
    {
      "api_key": []
    }
  ],
  "paths": {
    "/v1/about/": {
      "get": {
        "operationId": "v1_about_list",
        "description": "Returns information and configuration of the service",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "about"
        ],
        "path": "/v1/about/",
        "title": "General Information",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/about/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/about/deployments/": {
      "get": {
        "operationId": "v1_about_deployments_list",
        "description": "Returns a list of safe deployments by version",
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Filter by Safe version",
            "type": "string"
          },
          {
            "name": "contract",
            "in": "query",
            "description": "Filter by Safe contract name",
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SafeDeployment"
              }
            }
          },
          "404": {
            "description": "Provided version does not exist"
          }
        },
        "tags": [
          "about"
        ],
        "path": "/v1/about/deployments/",
        "title": "List deployments",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/about/deployments/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/about/ethereum-rpc/": {
      "get": {
        "operationId": "v1_about_ethereum-rpc_list",
        "description": "Get information about the Ethereum RPC node used by the service",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "about"
        ],
        "path": "/v1/about/ethereum-rpc/",
        "title": "Ethereum RPC",
        "additionalInfo": "This is an example of more detailed information about Ethereum RPC endpoint. This should support MDX."
      },
      "parameters": {
        "path": "/v1/about/ethereum-rpc/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/about/ethereum-tracing-rpc/": {
      "get": {
        "operationId": "v1_about_ethereum-tracing-rpc_list",
        "description": "Get information about the Ethereum Tracing RPC node used by the service (if any configured)",
        "parameters": [],
        "responses": {
          "200": {
            "description": ""
          }
        },
        "tags": [
          "about"
        ],
        "path": "/v1/about/ethereum-tracing-rpc/",
        "title": "Ethereum Tracing RPC",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/about/ethereum-tracing-rpc/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/about/indexing/": {
      "get": {
        "operationId": "v1_about_indexing_list",
        "description": "Get current indexing status for ERC20/721 events",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/IndexingStatus"
              }
            }
          }
        },
        "tags": [
          "about"
        ],
        "path": "/v1/about/indexing/",
        "title": "Indexing",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/about/indexing/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/about/singletons/": {
      "get": {
        "operationId": "v1_about_singletons_list",
        "description": "Returns a list of Master Copies configured in the service",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/MasterCopyResponse"
              }
            }
          }
        },
        "tags": [
          "about"
        ],
        "path": "/v1/about/singletons/",
        "title": "Singletons",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/about/singletons/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/contracts/": {
      "get": {
        "operationId": "v1_contracts_list",
        "description": "Returns the list of known smart contracts with their ABI’s",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/Contract"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "contracts"
        ],
        "path": "/v1/contracts/",
        "title": "List Contracts",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/contracts/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/contracts/{address}/": {
      "get": {
        "operationId": "v1_contracts_read",
        "description": "Returns the relevant information of a known smart contract",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/Contract"
            }
          }
        },
        "tags": [
          "contracts"
        ],
        "path": "/v1/contracts/{address}/",
        "title": "Get Specific Contract",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "description": "A unique value identifying this contract.",
          "required": true,
          "type": "string"
        },
        "path": "/v1/contracts/{address}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/data-decoder/": {
      "post": {
        "operationId": "v1_data-decoder_create",
        "description": "Returns the decoded data using the Safe Transaction Service internal ABI information given\nthe transaction data as a `0x` prefixed hexadecimal string.\nIf the address of the receiving contract is provided, the decoded data will be more accurate,\nas in case of an ABI collision the Safe Transaction Service would know which ABI to use.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DataDecoder"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Decoded data"
          },
          "404": {
            "description": "Cannot find function selector to decode data"
          },
          "422": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "data-decoder"
        ],
        "path": "/v1/data-decoder/",
        "title": "Get Decoded Data",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/data-decoder/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/delegates/": {
      "get": {
        "operationId": "v1_delegates_list",
        "description": "Returns a list with all the delegates",
        "parameters": [
          {
            "name": "safe",
            "in": "query",
            "description": "safe",
            "required": false,
            "type": "string"
          },
          {
            "name": "delegate",
            "in": "query",
            "description": "delegate",
            "required": false,
            "type": "string"
          },
          {
            "name": "delegator",
            "in": "query",
            "description": "delegator",
            "required": false,
            "type": "string"
          },
          {
            "name": "label",
            "in": "query",
            "description": "label",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeDelegateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "delegates"
        ],
        "deprecated": true,
        "path": "/v1/delegates/",
        "title": "List Delegates",
        "additionalInfo": ""
      },
      "post": {
        "operationId": "v1_delegates_create",
        "description": "Adds a new Safe delegate with a custom label. Calls with same delegate but different label or\nsigner will update the label or delegator if a different one is provided\nFor the signature we are using TOTP with `T0=0` and `Tx=3600`. TOTP is calculated by taking the\nUnix UTC epoch time (no milliseconds) and dividing by 3600 (natural division, no decimals)\nTo generate the signature, this hash needs to be signed: keccak(checksummed address + str(int(current_epoch //\n3600)))\nAs an example, if the 0x132512f995866CcE1b0092384A6118EDaF4508Ff delegate is added and epoch=1586779140:\n     - `TOTP = epoch // 3600 = 1586779140 // 3600 = 440771`\n     - keccak(\"0x132512f995866CcE1b0092384A6118EDaF4508Ff440771\") would be the hash a Safe owner would\n     need to sign.`",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Delegate"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Malformed data"
          }
        },
        "tags": [
          "delegates"
        ],
        "deprecated": true,
        "path": "/v1/delegates/",
        "title": "Create Delegate",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/delegates/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/delegates/{delegate_address}/": {
      "delete": {
        "operationId": "v1_delegates_delete",
        "description": "Delete every pair delegate/delegator found. Signature is built the same way as for adding a delegate,\nbut in this case the signer can be either the `delegator` (owner) or the `delegate` itself.\nCheck `POST /delegates/`",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelegateDelete"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Malformed data"
          },
          "404": {
            "description": "Delegate not found"
          },
          "422": {
            "description": "Invalid Ethereum address/Error processing data"
          }
        },
        "tags": [
          "delegates"
        ],
        "deprecated": true,
        "path": "/v1/delegates/{delegate_address}/",
        "title": "Delete Delegate",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "delegate_address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/delegates/{delegate_address}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/messages/{message_hash}/": {
      "get": {
        "operationId": "v1_messages_read",
        "description": "Returns detailed information on a message associated with a given message hash",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SafeMessageResponse"
            }
          }
        },
        "tags": [
          "messages"
        ],
        "path": "/v1/messages/{message_hash}/",
        "title": "Get Message",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "message_hash",
          "in": "path",
          "description": "A unique value identifying this safe message.",
          "required": true,
          "type": "string",
          "format": "binary"
        },
        "path": "/v1/messages/{message_hash}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/messages/{message_hash}/signatures/": {
      "post": {
        "operationId": "v1_messages_signatures_create",
        "description": "Adds the signature of a message given its message hash",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeMessageSignature"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "messages"
        ],
        "path": "/v1/messages/{message_hash}/signatures/",
        "title": "Sign Message",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "message_hash",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/messages/{message_hash}/signatures/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/module-transaction/{module_transaction_id}": {
      "get": {
        "operationId": "v1_module-transaction_read",
        "description": "Returns a transaction executed from a module given its associated module transaction ID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SafeModuleTransactionResponse"
            }
          },
          "400": {
            "description": "Invalid moduleTransactionId"
          },
          "404": {
            "description": "ModuleTransaction does not exist"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/module-transaction/{module_transaction_id}",
        "title": "Get Module Transaction",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "module_transaction_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/module-transaction/{module_transaction_id}",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/modules/{address}/safes/": {
      "get": {
        "operationId": "v1_modules_safes_list",
        "description": "Returns the list of Safes that have the provided module enabled",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/ModulesResponse"
            }
          },
          "422": {
            "description": "Module address checksum not valid"
          }
        },
        "tags": [
          "modules"
        ],
        "path": "/v1/modules/{address}/safes/",
        "title": "List Safes that use a Specific Module",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/modules/{address}/safes/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/multisig-transactions/{safe_tx_hash}/": {
      "get": {
        "operationId": "v1_multisig-transactions_read",
        "description": "Returns a multi-signature transaction given its Safe transaction hash",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SafeMultisigTransactionResponse"
            }
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/multisig-transactions/{safe_tx_hash}/",
        "title": "Get Multisig Transaction",
        "additionalInfo": ""
      },
      "delete": {
        "operationId": "v1_multisig-transactions_delete",
        "description": "Removes the queued but not executed multi-signature transaction associated with the given Safe tansaction hash.\nOnly the proposer can delete the transaction.\nIf the transaction was proposed by a delegate, the Safe owner who delegated to the delegate must be used.\nAn EOA is required to sign the following EIP-712 data:\n\n```python\n {\n    \"types\": {\n        \"EIP712Domain\": [\n            {\"name\": \"name\", \"type\": \"string\"},\n            {\"name\": \"version\", \"type\": \"string\"},\n            {\"name\": \"chainId\", \"type\": \"uint256\"},\n            {\"name\": \"verifyingContract\", \"type\": \"address\"},\n        ],\n        \"DeleteRequest\": [\n            {\"name\": \"safeTxHash\", \"type\": \"bytes32\"},\n            {\"name\": \"totp\", \"type\": \"uint256\"},\n        ],\n    },\n    \"primaryType\": \"DeleteRequest\",\n    \"domain\": {\n        \"name\": \"Safe Transaction Service\",\n        \"version\": \"1.0\",\n        \"chainId\": chain_id,\n        \"verifyingContract\": safe_address,\n    },\n    \"message\": {\n        \"safeTxHash\": safe_tx_hash,\n        \"totp\": totp,\n    },\n}\n```\n\n`totp` parameter is calculated with `T0=0` and `Tx=3600`. `totp` is calculated by taking the\nUnix UTC epoch time (no milliseconds) and dividing by 3600 (natural division, no decimals)",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeMultisigTransactionDelete"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Error processing data"
          },
          "404": {
            "description": "Transaction not found"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/multisig-transactions/{safe_tx_hash}/",
        "title": "Delete Queued Multisig Transaction",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "safe_tx_hash",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/multisig-transactions/{safe_tx_hash}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/multisig-transactions/{safe_tx_hash}/confirmations/": {
      "get": {
        "operationId": "v1_multisig-transactions_confirmations_list",
        "description": "Returns the list of confirmations for the multi-signature transaction associated with\nthe given Safe transaction hash",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeMultisigConfirmationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/multisig-transactions/{safe_tx_hash}/confirmations/",
        "title": "List Multisig Confirmations",
        "additionalInfo": ""
      },
      "post": {
        "operationId": "v1_multisig-transactions_confirmations_create",
        "description": "Adds a new confirmation to the pending multi-signature transaction associated with the\ngiven Safe transaction hash. Multiple signatures can be submitted at once. This endpoint\ndoes not support the use of delegates to make transactions trusted.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeMultisigConfirmation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Malformed data"
          },
          "422": {
            "description": "Error processing data"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/multisig-transactions/{safe_tx_hash}/confirmations/",
        "title": "Confirm Multisig Transaction",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "safe_tx_hash",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/multisig-transactions/{safe_tx_hash}/confirmations/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/notifications/devices/": {
      "post": {
        "operationId": "v1_notifications_devices_create",
        "description": "Creates a new FirebaseDevice. If uuid is not provided a new device will be created.\nIf a uuid for an existing Safe is provided the FirebaseDevice will be updated with all the new data provided.\nSafes provided on the request are always added and never removed/replaced\nSignature must sign `keccack256('gnosis-safe{timestamp-epoch}{uuid}{cloud_messaging_token}{safes_sorted}':\n    - `{timestamp-epoch}` must be an integer (no milliseconds)\n    - `{safes_sorted}` must be checksummed safe addresses sorted and joined with no spaces",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/FirebaseDevice"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/FirebaseDeviceSerializerWithOwnersResponse"
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "notifications"
        ],
        "path": "/v1/notifications/devices/",
        "title": "Create Device",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/notifications/devices/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/notifications/devices/{uuid}/": {
      "delete": {
        "operationId": "v1_notifications_devices_delete",
        "description": "Remove a FirebaseDevice",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "notifications"
        ],
        "path": "/v1/notifications/devices/{uuid}/",
        "title": "Delete Device",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "uuid",
          "in": "path",
          "description": "A UUID string identifying this Firebase Device.",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        "path": "/v1/notifications/devices/{uuid}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/notifications/devices/{uuid}/safes/{address}/": {
      "delete": {
        "operationId": "v1_notifications_devices_safes_delete",
        "description": "Remove a Safe for a FirebaseDevice",
        "parameters": [],
        "responses": {
          "204": {
            "description": ""
          }
        },
        "tags": [
          "notifications"
        ],
        "path": "/v1/notifications/devices/{uuid}/safes/{address}/",
        "title": "Remove a Safe from a Device",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "uuid",
          "in": "path",
          "description": "A UUID string identifying this Firebase Device.",
          "required": true,
          "type": "string",
          "format": "uuid"
        },
        "1": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/notifications/devices/{uuid}/safes/{address}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/owners/{address}/safes/": {
      "get": {
        "operationId": "v1_owners_safes_list",
        "description": "Returns the list of Safe accounts that have the given address as their owner",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/OwnerResponse"
            }
          },
          "422": {
            "description": "Owner address checksum not valid"
          }
        },
        "tags": [
          "owners"
        ],
        "path": "/v1/owners/{address}/safes/",
        "title": "List Safes from a Specific Owner",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/owners/{address}/safes/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safe-operations/{safe_operation_hash}/": {
      "get": {
        "operationId": "v1_safe-operations_read",
        "description": "Returns a SafeOperation given its Safe operation hash",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SafeOperationWithUserOperationResponse"
            }
          }
        },
        "tags": [
          "4337"
        ],
        "path": "/v1/safe-operations/{safe_operation_hash}/",
        "title": "Get Safe Operation",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "safe_operation_hash",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safe-operations/{safe_operation_hash}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safe-operations/{safe_operation_hash}/confirmations/": {
      "get": {
        "operationId": "v1_safe-operations_confirmations_list",
        "description": "Get the list of confirmations for a multisig transaction",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeOperationConfirmationResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "4337"
        ],
        "path": "/v1/safe-operations/{safe_operation_hash}/confirmations/",
        "title": "",
        "additionalInfo": ""
      },
      "post": {
        "operationId": "v1_safe-operations_confirmations_create",
        "description": "Add a confirmation for a transaction. More than one signature can be used. This endpoint does not support\nthe use of delegates to make a transaction trusted.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeOperationConfirmation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          },
          "400": {
            "description": "Malformed data"
          },
          "422": {
            "description": "Error processing data"
          }
        },
        "tags": [
          "4337"
        ],
        "path": "/v1/safe-operations/{safe_operation_hash}/confirmations/",
        "title": "",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "safe_operation_hash",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safe-operations/{safe_operation_hash}/confirmations/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/": {
      "get": {
        "operationId": "v1_safes_read",
        "description": "Returns detailed information of a given Safe account",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SafeInfoResponse"
            }
          },
          "404": {
            "description": "Safe not found"
          },
          "422": {
            "description": "code = 1: Checksum address validation failed\ncode = 50: Cannot get Safe info"
          }
        },
        "tags": [
          "safes"
        ],
        "path": "/v1/safes/{address}/",
        "title": "Get Safe Status",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/all-transactions/": {
      "get": {
        "operationId": "v1_safes_all-transactions_list",
        "description": "Returns all the transactions for a given Safe address. The list has different structures depending on the\ntransaction type:\n- Multisig Transactions for a Safe. `tx_type=MULTISIG_TRANSACTION`. If the query parameter `queued=False` is\nset only the transactions with `safe nonce < current Safe nonce` will be displayed. By default, only the\n`trusted` transactions will be displayed (transactions indexed, with at least one confirmation or proposed\nby a delegate). If you need that behaviour to be disabled set the query parameter `trusted=False`\n- Module Transactions for a Safe. `tx_type=MODULE_TRANSACTION`\n- Incoming Transfers of Ether/ERC20 Tokens/ERC721 Tokens. `tx_type=ETHEREUM_TRANSACTION`\n  Only 1000 newest transfers will be returned.",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "executed",
            "in": "query",
            "description": "If `True` only executed transactions are returned",
            "type": "boolean",
            "default": false
          },
          {
            "name": "queued",
            "in": "query",
            "description": "If `True` transactions with `nonce >= Safe current nonce` are also returned",
            "type": "boolean",
            "default": true
          },
          {
            "name": "trusted",
            "in": "query",
            "description": "If `True` just trusted transactions are shown (indexed, added by a delegate or with at least one confirmation)",
            "type": "boolean",
            "default": true
          }
        ],
        "responses": {
          "200": {
            "description": "A list with every element with the structure of one of these transactiontypes",
            "schema": {
              "$ref": "#/definitions/AllTransactionsSchema"
            }
          },
          "422": {
            "description": "code = 1: Checksum address validation failed"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/safes/{address}/all-transactions/",
        "title": "List Transactions",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/all-transactions/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/balances/": {
      "get": {
        "operationId": "v1_safes_balances_list",
        "description": "Get balance for Ether and ERC20 tokens of a given Safe account",
        "parameters": [
          {
            "name": "trusted",
            "in": "query",
            "description": "If `True` just trusted tokens will be returned",
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_spam",
            "in": "query",
            "description": "If `True` spam tokens will not be returned",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SafeBalanceResponse"
              }
            }
          },
          "404": {
            "description": "Safe not found"
          },
          "422": {
            "description": "Safe address checksum not valid"
          }
        },
        "tags": [
          "safes"
        ],
        "deprecated": false,
        "path": "/v1/safes/{address}/balances/",
        "title": "List a Safe's Balances (Deprecated)",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/balances/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/creation/": {
      "get": {
        "operationId": "v1_safes_creation_list",
        "description": "Returns detailed information on the Safe creation transaction of a given Safe account",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SafeCreationInfoResponse"
            }
          },
          "404": {
            "description": "Safe creation not found"
          },
          "422": {
            "description": "Owner address checksum not valid"
          },
          "503": {
            "description": "Problem connecting to Ethereum network"
          }
        },
        "tags": [
          "safes"
        ],
        "path": "/v1/safes/{address}/creation/",
        "title": "Get Safe Creation Status",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/creation/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/delegates/{delegate_address}/": {
      "delete": {
        "operationId": "v1_safes_delegates_delete",
        "description": "Delete a delegate for a Safe. Signature is built the same way that for adding a delegate.\nCheck `POST /delegates/`",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeDelegateDelete"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Malformed data"
          },
          "404": {
            "description": "Delegate not found"
          },
          "422": {
            "description": "Invalid Ethereum address/Error processing data"
          }
        },
        "tags": [
          "safes"
        ],
        "deprecated": true,
        "path": "/v1/safes/{address}/delegates/{delegate_address}/",
        "title": "Remove Delegate from Safe",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "1": {
          "name": "delegate_address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/delegates/{delegate_address}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/incoming-transfers/": {
      "get": {
        "operationId": "v1_safes_incoming-transfers_list",
        "description": "Returns incoming ether/tokens transfers for a Safe.\nOnly 1000 newest transfers will be returned.",
        "parameters": [
          {
            "name": "_from",
            "in": "query",
            "description": "_from",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number",
            "in": "query",
            "description": "block_number",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number__gt",
            "in": "query",
            "description": "block_number__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number__lt",
            "in": "query",
            "description": "block_number__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__gte",
            "in": "query",
            "description": "execution_date__gte",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__lte",
            "in": "query",
            "description": "execution_date__lte",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__gt",
            "in": "query",
            "description": "execution_date__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__lt",
            "in": "query",
            "description": "execution_date__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "to",
            "required": false,
            "type": "string"
          },
          {
            "name": "token_address",
            "in": "query",
            "description": "token_address",
            "required": false,
            "type": "string"
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "description": "transaction_hash",
            "required": false,
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "description": "value",
            "required": false,
            "type": "string"
          },
          {
            "name": "value__gt",
            "in": "query",
            "description": "value__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "value__lt",
            "in": "query",
            "description": "value__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "erc20",
            "in": "query",
            "description": "erc20",
            "required": false,
            "type": "string"
          },
          {
            "name": "erc721",
            "in": "query",
            "description": "erc721",
            "required": false,
            "type": "string"
          },
          {
            "name": "ether",
            "in": "query",
            "description": "ether",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransferWithTokenInfoResponse"
              }
            }
          },
          "422": {
            "description": "Safe address checksum not valid"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/safes/{address}/incoming-transfers/",
        "title": "List Incoming Transfers",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/incoming-transfers/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/messages/": {
      "get": {
        "operationId": "v1_safes_messages_list",
        "description": "Returns the list of messages for a given Safe account",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeMessageResponse"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "messages"
        ],
        "path": "/v1/safes/{address}/messages/",
        "title": "List Messages",
        "additionalInfo": ""
      },
      "post": {
        "operationId": "v1_safes_messages_create",
        "description": "Adds a new message for a given Safe account.\nMessage can be:\n- A ``string``, so ``EIP191`` will be used to get the hash.\n- An ``EIP712`` ``object``.\n\nHash will be calculated from the provided ``message``. Sending a raw ``hash`` will not be accepted,\nservice needs to derive it itself.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeMessage"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "messages"
        ],
        "path": "/v1/safes/{address}/messages/",
        "title": "Create Signed Message",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/messages/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/module-transactions/": {
      "get": {
        "operationId": "v1_safes_module-transactions_list",
        "description": "Returns all the transactions executed from modules given a Safe address",
        "parameters": [
          {
            "name": "safe",
            "in": "query",
            "description": "safe",
            "required": false,
            "type": "string"
          },
          {
            "name": "module",
            "in": "query",
            "description": "module",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "to",
            "required": false,
            "type": "string"
          },
          {
            "name": "operation",
            "in": "query",
            "description": "operation",
            "required": false,
            "type": "string",
            "enum": [
              0,
              1,
              2
            ]
          },
          {
            "name": "failed",
            "in": "query",
            "description": "failed",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number",
            "in": "query",
            "description": "block_number",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number__gt",
            "in": "query",
            "description": "block_number__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number__lt",
            "in": "query",
            "description": "block_number__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "description": "transaction_hash",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeModuleTransactionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          },
          "422": {
            "description": "Invalid ethereum address"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/safes/{address}/module-transactions/",
        "title": "List a Safe's Module Transactions",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/module-transactions/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/multisig-transactions/": {
      "get": {
        "operationId": "v1_safes_multisig-transactions_list",
        "description": "Returns all the multi-signature transactions for a given Safe address.\nBy default, only ``trusted`` multisig transactions are returned.",
        "parameters": [
          {
            "name": "failed",
            "in": "query",
            "description": "failed",
            "required": false,
            "type": "string"
          },
          {
            "name": "modified__lt",
            "in": "query",
            "description": "modified__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "modified__gt",
            "in": "query",
            "description": "modified__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "modified__lte",
            "in": "query",
            "description": "modified__lte",
            "required": false,
            "type": "string"
          },
          {
            "name": "modified__gte",
            "in": "query",
            "description": "modified__gte",
            "required": false,
            "type": "string"
          },
          {
            "name": "nonce__lt",
            "in": "query",
            "description": "nonce__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "nonce__gt",
            "in": "query",
            "description": "nonce__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "nonce__lte",
            "in": "query",
            "description": "nonce__lte",
            "required": false,
            "type": "string"
          },
          {
            "name": "nonce__gte",
            "in": "query",
            "description": "nonce__gte",
            "required": false,
            "type": "string"
          },
          {
            "name": "nonce",
            "in": "query",
            "description": "nonce",
            "required": false,
            "type": "string"
          },
          {
            "name": "safe_tx_hash",
            "in": "query",
            "description": "safe_tx_hash",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "to",
            "required": false,
            "type": "string"
          },
          {
            "name": "value__lt",
            "in": "query",
            "description": "value__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "value__gt",
            "in": "query",
            "description": "value__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "description": "value",
            "required": false,
            "type": "string"
          },
          {
            "name": "executed",
            "in": "query",
            "description": "executed",
            "required": false,
            "type": "string"
          },
          {
            "name": "has_confirmations",
            "in": "query",
            "description": "has_confirmations",
            "required": false,
            "type": "string"
          },
          {
            "name": "trusted",
            "in": "query",
            "description": "trusted",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__gte",
            "in": "query",
            "description": "execution_date__gte",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__lte",
            "in": "query",
            "description": "execution_date__lte",
            "required": false,
            "type": "string"
          },
          {
            "name": "submission_date__gte",
            "in": "query",
            "description": "submission_date__gte",
            "required": false,
            "type": "string"
          },
          {
            "name": "submission_date__lte",
            "in": "query",
            "description": "submission_date__lte",
            "required": false,
            "type": "string"
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "description": "transaction_hash",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeMultisigTransactionResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          },
          "422": {
            "description": "Invalid ethereum address"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/safes/{address}/multisig-transactions/",
        "title": "List a Safe's Multisig Transactions",
        "additionalInfo": ""
      },
      "post": {
        "operationId": "v1_safes_multisig-transactions_create",
        "description": "Creates a multi-signature transaction for a given Safe account with its confirmations and\nretrieves all the information related.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeMultisigTransaction"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created or signature updated"
          },
          "400": {
            "description": "Invalid data"
          },
          "422": {
            "description": "Invalid ethereum address/User is not an owner/Invalid safeTxHash/Invalid signature/Nonce already executed/Sender is not an owner"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/safes/{address}/multisig-transactions/",
        "title": "Create Multisig Transaction",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/multisig-transactions/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/multisig-transactions/estimations/": {
      "post": {
        "operationId": "v1_safes_multisig-transactions_estimations_create",
        "description": "Returns the estimated `safeTxGas` for a given Safe address and multi-signature transaction",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeMultisigTransactionEstimate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/SafeMultisigTransactionEstimateResponse"
            }
          },
          "400": {
            "description": "Data not valid"
          },
          "404": {
            "description": "Safe not found"
          },
          "422": {
            "description": "Tx not valid"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/safes/{address}/multisig-transactions/estimations/",
        "title": "Estimate Gas Costs for a Multisig Transaction",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/multisig-transactions/estimations/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/safe-operations/": {
      "get": {
        "operationId": "v1_safes_safe-operations_list",
        "description": "Returns the list of SafeOperations for a given Safe account",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeOperationWithUserOperationResponse"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "4337"
        ],
        "path": "/v1/safes/{address}/safe-operations/",
        "title": "List Safe Operations",
        "additionalInfo": ""
      },
      "post": {
        "operationId": "v1_safes_safe-operations_create",
        "description": "Adds a new SafeOperation for a given Safe account",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SafeOperation"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Created"
          }
        },
        "tags": [
          "4337"
        ],
        "path": "/v1/safes/{address}/safe-operations/",
        "title": "Create Safe Operation",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/safe-operations/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/transfers/": {
      "get": {
        "operationId": "v1_safes_transfers_list",
        "description": "Returns the list of token transfers for a given Safe address.\nOnly 1000 newest transfers will be returned.",
        "parameters": [
          {
            "name": "_from",
            "in": "query",
            "description": "_from",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number",
            "in": "query",
            "description": "block_number",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number__gt",
            "in": "query",
            "description": "block_number__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "block_number__lt",
            "in": "query",
            "description": "block_number__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__gte",
            "in": "query",
            "description": "execution_date__gte",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__lte",
            "in": "query",
            "description": "execution_date__lte",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__gt",
            "in": "query",
            "description": "execution_date__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "execution_date__lt",
            "in": "query",
            "description": "execution_date__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "to",
            "in": "query",
            "description": "to",
            "required": false,
            "type": "string"
          },
          {
            "name": "token_address",
            "in": "query",
            "description": "token_address",
            "required": false,
            "type": "string"
          },
          {
            "name": "transaction_hash",
            "in": "query",
            "description": "transaction_hash",
            "required": false,
            "type": "string"
          },
          {
            "name": "value",
            "in": "query",
            "description": "value",
            "required": false,
            "type": "string"
          },
          {
            "name": "value__gt",
            "in": "query",
            "description": "value__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "value__lt",
            "in": "query",
            "description": "value__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "erc20",
            "in": "query",
            "description": "erc20",
            "required": false,
            "type": "string"
          },
          {
            "name": "erc721",
            "in": "query",
            "description": "erc721",
            "required": false,
            "type": "string"
          },
          {
            "name": "ether",
            "in": "query",
            "description": "ether",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/TransferWithTokenInfoResponse"
              }
            }
          },
          "422": {
            "description": "Safe address checksum not valid"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/safes/{address}/transfers/",
        "title": "List Transfers",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/transfers/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/safes/{address}/user-operations/": {
      "get": {
        "operationId": "v1_safes_user-operations_list",
        "description": "Returns the list of UserOperations for a given Safe account",
        "parameters": [
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/UserOperationWithSafeOperationResponse"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "4337"
        ],
        "path": "/v1/safes/{address}/user-operations/",
        "title": "List User Operations",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/safes/{address}/user-operations/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/tokens/": {
      "get": {
        "operationId": "v1_tokens_list",
        "description": "Returns the list of tokens supported in the Safe Transaction Service",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "description": "name",
            "required": false,
            "type": "string"
          },
          {
            "name": "address",
            "in": "query",
            "description": "address",
            "required": false,
            "type": "string"
          },
          {
            "name": "symbol",
            "in": "query",
            "description": "symbol",
            "required": false,
            "type": "string"
          },
          {
            "name": "decimals__lt",
            "in": "query",
            "description": "decimals__lt",
            "required": false,
            "type": "string"
          },
          {
            "name": "decimals__gt",
            "in": "query",
            "description": "decimals__gt",
            "required": false,
            "type": "string"
          },
          {
            "name": "decimals",
            "in": "query",
            "description": "decimals",
            "required": false,
            "type": "string"
          },
          {
            "name": "search",
            "in": "query",
            "description": "A search term.",
            "required": false,
            "type": "string"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Which field to use when ordering the results.",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/TokenInfoResponse"
                  }
                }
              }
            }
          }
        },
        "tags": [
          "tokens"
        ],
        "path": "/v1/tokens/",
        "title": "List Tokens",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v1/tokens/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/tokens/{address}/": {
      "get": {
        "operationId": "v1_tokens_read",
        "description": "Returns detailed information on a given token supported in the Safe Transaction Service",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TokenInfoResponse"
            }
          }
        },
        "tags": [
          "tokens"
        ],
        "path": "/v1/tokens/{address}/",
        "title": "Get a Specific Token's Information",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "description": "A unique value identifying this token.",
          "required": true,
          "type": "string"
        },
        "path": "/v1/tokens/{address}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/transfer/{transfer_id}": {
      "get": {
        "operationId": "v1_transfer_read",
        "description": "Returns a token transfer associated with the given transfer ID",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/TransferWithTokenInfoResponse"
            }
          },
          "400": {
            "description": "Invalid transferId"
          },
          "404": {
            "description": "Transfer does not exist"
          }
        },
        "tags": [
          "transactions"
        ],
        "path": "/v1/transfer/{transfer_id}",
        "title": "Get Transfer",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "transfer_id",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/transfer/{transfer_id}",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v1/user-operations/{user_operation_hash}/": {
      "get": {
        "operationId": "v1_user-operations_read",
        "description": "Returns a UserOperation given its user operation hash",
        "parameters": [],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "$ref": "#/definitions/UserOperationWithSafeOperationResponse"
            }
          }
        },
        "tags": [
          "4337"
        ],
        "path": "/v1/user-operations/{user_operation_hash}/",
        "title": "Get User Operation",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "user_operation_hash",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v1/user-operations/{user_operation_hash}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v2/delegates/": {
      "get": {
        "operationId": "v2_delegates_list",
        "description": "Returns a list with all the delegates",
        "parameters": [
          {
            "name": "safe",
            "in": "query",
            "description": "safe",
            "required": false,
            "type": "string"
          },
          {
            "name": "delegate",
            "in": "query",
            "description": "delegate",
            "required": false,
            "type": "string"
          },
          {
            "name": "delegator",
            "in": "query",
            "description": "delegator",
            "required": false,
            "type": "string"
          },
          {
            "name": "label",
            "in": "query",
            "description": "label",
            "required": false,
            "type": "string"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "required": [
                "count",
                "results"
              ],
              "type": "object",
              "properties": {
                "count": {
                  "type": "integer"
                },
                "next": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "previous": {
                  "type": "string",
                  "format": "uri",
                  "x-nullable": true
                },
                "results": {
                  "type": "array",
                  "items": {
                    "$ref": "#/definitions/SafeDelegateResponse"
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid data"
          }
        },
        "tags": [
          "delegates"
        ],
        "path": "/v2/delegates/",
        "title": "List Delegates",
        "additionalInfo": ""
      },
      "post": {
        "operationId": "v2_delegates_create",
        "description": "Adds a new Safe delegate with a custom label. Calls with same delegate but different label or\nsigner will update the label or delegator if a different one is provided.\nTo generate the signature, the following EIP712 data hash needs to be signed:\n\n```python\n {\n    \"types\": {\n        \"EIP712Domain\": [\n            {\"name\": \"name\", \"type\": \"string\"},\n            {\"name\": \"version\", \"type\": \"string\"},\n            {\"name\": \"chainId\", \"type\": \"uint256\"},\n        ],\n        \"Delegate\": [\n            {\"name\": \"delegateAddress\", \"type\": \"address\"},\n            {\"name\": \"totp\", \"type\": \"uint256\"},\n        ],\n    },\n    \"primaryType\": \"Delegate\",\n    \"domain\": {\n        \"name\": \"Safe Transaction Service\",\n        \"version\": \"1.0\",\n        \"chainId\": chain_id,\n    },\n    \"message\": {\n        \"delegateAddress\": delegate_address,\n        \"totp\": totp,\n    },\n}\n```\n\nFor the signature we use `TOTP` with `T0=0` and `Tx=3600`. `TOTP` is calculated by taking the\nUnix UTC epoch time (no milliseconds) and dividing by 3600 (natural division, no decimals).",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelegateSerializerV2"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "400": {
            "description": "Malformed data"
          }
        },
        "tags": [
          "delegates"
        ],
        "path": "/v2/delegates/",
        "title": "Create Delegate",
        "additionalInfo": ""
      },
      "parameters": {
        "path": "/v2/delegates/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v2/delegates/{delegate_address}/": {
      "delete": {
        "operationId": "v2_delegates_delete",
        "description": "Removes every delegate/delegator pair found associated with a given delegate address. The\nsignature is built the same way as for adding a delegate, but in this case the signer can be\neither the `delegator` (owner) or the `delegate` itself. Check `POST /delegates/` to learn more.",
        "parameters": [
          {
            "name": "data",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DelegateDeleteSerializerV2"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Deleted"
          },
          "400": {
            "description": "Malformed data"
          },
          "404": {
            "description": "Delegate not found"
          },
          "422": {
            "description": "Invalid Ethereum address/Error processing data"
          }
        },
        "tags": [
          "delegates"
        ],
        "path": "/v2/delegates/{delegate_address}/",
        "title": "Delete Delegate",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "delegate_address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v2/delegates/{delegate_address}/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v2/safes/{address}/balances/": {
      "get": {
        "operationId": "v2_safes_balances_list",
        "description": "Get paginated balances for Ether and ERC20 tokens.\nThe maximum limit allowed is 200.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "trusted",
            "in": "query",
            "description": "If `True` just trusted tokens will be returned",
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_spam",
            "in": "query",
            "description": "If `True` spam tokens will not be returned",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SafeBalanceResponse"
              }
            }
          },
          "404": {
            "description": "Safe not found"
          },
          "422": {
            "description": "Safe address checksum not valid"
          }
        },
        "tags": [
          "safes"
        ],
        "deprecated": false,
        "path": "/v2/safes/{address}/balances/",
        "title": "",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v2/safes/{address}/balances/",
        "title": "",
        "additionalInfo": ""
      }
    },
    "/v2/safes/{address}/collectibles/": {
      "get": {
        "operationId": "v2_safes_collectibles_list",
        "description": "Get paginated collectibles (ERC721 tokens) and information about them of a given Safe account.\nThe maximum limit allowed is 10.",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "description": "Number of results to return per page.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "offset",
            "in": "query",
            "description": "The initial index from which to return the results.",
            "required": false,
            "type": "integer"
          },
          {
            "name": "trusted",
            "in": "query",
            "description": "If `True` just trusted tokens will be returned",
            "type": "boolean",
            "default": false
          },
          {
            "name": "exclude_spam",
            "in": "query",
            "description": "If `True` spam tokens will not be returned",
            "type": "boolean",
            "default": false
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SafeCollectibleResponse"
              }
            }
          },
          "404": {
            "description": "Safe not found"
          },
          "422": {
            "description": "Safe address checksum not valid"
          }
        },
        "tags": [
          "safes"
        ],
        "deprecated": false,
        "path": "/v2/safes/{address}/collectibles/",
        "title": "List Collectibles",
        "additionalInfo": ""
      },
      "parameters": {
        "0": {
          "name": "address",
          "in": "path",
          "required": true,
          "type": "string"
        },
        "path": "/v2/safes/{address}/collectibles/",
        "title": "",
        "additionalInfo": ""
      }
    }
  },
  "definitions": {
    "SafeDeploymentContract": {
      "required": [
        "contractName",
        "address"
      ],
      "type": "object",
      "properties": {
        "contractName": {
          "title": "Contract name",
          "type": "string",
          "minLength": 1
        },
        "address": {
          "title": "Address",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "SafeDeployment": {
      "required": [
        "version",
        "contracts"
      ],
      "type": "object",
      "properties": {
        "version": {
          "title": "Version",
          "type": "string",
          "maxLength": 10,
          "minLength": 1
        },
        "contracts": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/SafeDeploymentContract"
          }
        }
      }
    },
    "IndexingStatus": {
      "required": [
        "currentBlockNumber",
        "erc20BlockNumber",
        "erc20Synced",
        "masterCopiesBlockNumber",
        "masterCopiesSynced",
        "synced"
      ],
      "type": "object",
      "properties": {
        "currentBlockNumber": {
          "title": "Current block number",
          "type": "integer"
        },
        "erc20BlockNumber": {
          "title": "Erc20 block number",
          "type": "integer"
        },
        "erc20Synced": {
          "title": "Erc20 synced",
          "type": "boolean"
        },
        "masterCopiesBlockNumber": {
          "title": "Master copies block number",
          "type": "integer"
        },
        "masterCopiesSynced": {
          "title": "Master copies synced",
          "type": "boolean"
        },
        "synced": {
          "title": "Synced",
          "type": "boolean"
        }
      }
    },
    "MasterCopyResponse": {
      "required": [
        "address",
        "version",
        "deployer",
        "deployedBlockNumber",
        "lastIndexedBlockNumber",
        "l2"
      ],
      "type": "object",
      "properties": {
        "address": {
          "title": "Address",
          "type": "string"
        },
        "version": {
          "title": "Version",
          "type": "string",
          "minLength": 1
        },
        "deployer": {
          "title": "Deployer",
          "type": "string",
          "minLength": 1
        },
        "deployedBlockNumber": {
          "title": "Deployed block number",
          "type": "integer"
        },
        "lastIndexedBlockNumber": {
          "title": "Last indexed block number",
          "type": "integer"
        },
        "l2": {
          "title": "L2",
          "type": "boolean"
        }
      }
    },
    "ContractAbi": {
      "required": [
        "abi",
        "description",
        "relevance"
      ],
      "type": "object",
      "properties": {
        "abi": {
          "type": "array",
          "items": {
            "type": "object",
            "additionalProperties": {
              "type": "string",
              "x-nullable": true
            }
          }
        },
        "description": {
          "title": "Description",
          "type": "string",
          "minLength": 1
        },
        "relevance": {
          "title": "Relevance",
          "type": "integer"
        }
      }
    },
    "Contract": {
      "required": [
        "address",
        "name",
        "displayName",
        "contractAbi",
        "trustedForDelegateCall"
      ],
      "type": "object",
      "properties": {
        "address": {
          "title": "Address",
          "type": "string"
        },
        "name": {
          "title": "Name",
          "type": "string",
          "minLength": 1
        },
        "displayName": {
          "title": "Display name",
          "type": "string",
          "minLength": 1
        },
        "logoUri": {
          "title": "Logo uri",
          "type": "string",
          "readOnly": true,
          "format": "uri"
        },
        "contractAbi": {
          "$ref": "#/definitions/ContractAbi"
        },
        "trustedForDelegateCall": {
          "title": "Trusted for delegate call",
          "type": "boolean"
        }
      }
    },
    "DataDecoder": {
      "required": [
        "data"
      ],
      "type": "object",
      "properties": {
        "data": {
          "title": "Data",
          "type": "string"
        },
        "to": {
          "title": "To",
          "type": "string",
          "x-nullable": true
        }
      }
    },
    "SafeDelegateResponse": {
      "required": [
        "safe",
        "delegate",
        "delegator",
        "label"
      ],
      "type": "object",
      "properties": {
        "safe": {
          "title": "Safe",
          "type": "string"
        },
        "delegate": {
          "title": "Delegate",
          "type": "string"
        },
        "delegator": {
          "title": "Delegator",
          "type": "string"
        },
        "label": {
          "title": "Label",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "Delegate": {
      "required": [
        "delegate",
        "delegator",
        "signature",
        "label"
      ],
      "type": "object",
      "properties": {
        "safe": {
          "title": "Safe",
          "type": "string",
          "x-nullable": true
        },
        "delegate": {
          "title": "Delegate",
          "type": "string"
        },
        "delegator": {
          "title": "Delegator",
          "type": "string"
        },
        "signature": {
          "title": "Signature",
          "type": "string"
        },
        "label": {
          "title": "Label",
          "type": "string",
          "maxLength": 50,
          "minLength": 1
        }
      }
    },
    "DelegateDelete": {
      "required": [
        "delegate",
        "delegator",
        "signature"
      ],
      "type": "object",
      "properties": {
        "delegate": {
          "title": "Delegate",
          "type": "string"
        },
        "delegator": {
          "title": "Delegator",
          "type": "string"
        },
        "signature": {
          "title": "Signature",
          "type": "string"
        }
      }
    },
    "SafeMessageResponse": {
      "required": [
        "created",
        "modified",
        "safe",
        "messageHash",
        "message",
        "proposedBy",
        "safeAppId"
      ],
      "type": "object",
      "properties": {
        "created": {
          "title": "Created",
          "type": "string",
          "format": "date-time"
        },
        "modified": {
          "title": "Modified",
          "type": "string",
          "format": "date-time"
        },
        "safe": {
          "title": "Safe",
          "type": "string"
        },
        "messageHash": {
          "title": "Message hash",
          "type": "string"
        },
        "message": {
          "title": "Message",
          "type": "object"
        },
        "proposedBy": {
          "title": "Proposed by",
          "type": "string"
        },
        "safeAppId": {
          "title": "Safe app id",
          "type": "integer"
        },
        "confirmations": {
          "title": "Confirmations",
          "type": "string",
          "readOnly": true
        },
        "preparedSignature": {
          "title": "Prepared signature",
          "type": "string",
          "readOnly": true
        }
      }
    },
    "SafeMessageSignature": {
      "required": [
        "signature"
      ],
      "type": "object",
      "properties": {
        "signature": {
          "title": "Signature",
          "type": "string"
        }
      }
    },
    "SafeModuleTransactionResponse": {
      "required": [
        "executionDate",
        "blockNumber",
        "transactionHash",
        "safe",
        "module",
        "to",
        "value",
        "data",
        "operation",
        "moduleTransactionId"
      ],
      "type": "object",
      "properties": {
        "created": {
          "title": "Created",
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "executionDate": {
          "title": "Execution date",
          "type": "string",
          "format": "date-time"
        },
        "blockNumber": {
          "title": "Block number",
          "type": "integer"
        },
        "isSuccessful": {
          "title": "Is successful",
          "type": "boolean",
          "readOnly": true
        },
        "transactionHash": {
          "title": "Transaction hash",
          "type": "string"
        },
        "safe": {
          "title": "Safe",
          "type": "string",
          "minLength": 1
        },
        "module": {
          "title": "Module",
          "type": "string",
          "minLength": 1
        },
        "to": {
          "title": "To",
          "type": "string",
          "minLength": 1
        },
        "value": {
          "title": "Value",
          "type": "string",
          "format": "decimal"
        },
        "data": {
          "title": "Data",
          "type": "string",
          "x-nullable": true
        },
        "operation": {
          "title": "Operation",
          "type": "integer",
          "enum": [
            0,
            1,
            2
          ]
        },
        "dataDecoded": {
          "title": "Data decoded",
          "type": "string",
          "readOnly": true
        },
        "moduleTransactionId": {
          "title": "Module transaction id",
          "description": "Internally calculated parameter to uniquely identify a moduleTransaction \n`ModuleTransactionId = i+tx_hash+trace_address`",
          "type": "string",
          "minLength": 1
        }
      }
    },
    "ModulesResponse": {
      "required": [
        "safes"
      ],
      "type": "object",
      "properties": {
[...]
