.card {
  background: var(--mui-palette-border-background);
  box-shadow: inset 0 0 0 1px var(--mui-palette-border-light);
  border-radius: 6px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  transition: 0.3s;
}

.outline:hover {
  box-shadow: inset 0 0 0 1px var(--mui-palette-primary-main);
}

.description {
  color: var(--mui-palette-primary-light);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  flex-shrink: 0;
}
