html.dark.dark body {
  font-family: 'DM Sans', sans-serif;
  background-color: #121312;
}

html[class~='dark'] .dark\:nx-bg-dark.dark\:nx-bg-dark {
  background-color: #121312;
}

h1 {
  line-height: 60px;
}

h2 {
  line-height: 42px;
}

/* Navbar */
#__next > div > div > div {
  backdrop-filter: blur(8px);
  background: hsla(0, 0%, 100%, 0.005);
  background-color: transparent !important;
}

/* Navbar container */
#__next > div > div.nextra-nav-container > nav {
  height: 94px;
}

/* Sidebar */
#__next > div > div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\] > aside {
  top: 2rem;
}

#__next > div > footer {
  background-color: #121312;
}

#__next > div > footer > div {
  padding-right: 0;
  padding-left: 0;
  padding-top: 0;
  padding-bottom: 0;
}

#__next > div > footer > div > div > div > div > ul {
  margin-top: 18px;
  margin-bottom: 18px;
}

.nextra-breadcrumb.nextra-breadcrumb {
  display: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

/* CopyButton */
button[title="Copy code"]:not(#\9) {
  margin-top: 2px;
  background-color: #212121;
  border: none;
}

/* CodeBlocks */
.ch-codeblock.not-prose {
  box-shadow: none;
}

@media (min-width: 768px) {
  /* Sidebar */
  #__next > div > div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\] > aside {
    top: 5rem;
  }

  /* TOC */
  #__next > div > div.nx-mx-auto.nx-flex.nx-max-w-\[90rem\] > nav > div {
    top: 5rem;
  }
}
