name: Deploy to staging

on:
  pull_request:

jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions: write-all

    name: Deploy to staging

    steps:
      - name: Cancel previous runs
        uses: styfle/cancel-workflow-action@0.8.0
        with:
          access_token: ${{ github.token }}

      # Post a PR comment before deploying
      - name: Post a comment while building
        if: github.event.number
        uses: mshick/add-pr-comment@v2
        with:
          message-id: praul
          message: |
            ## Branch preview
            ⏳ Deploying a preview site...
          repo-token: ${{ secrets.GITHUB_TOKEN }}
          repo-token-user-login: 'github-actions[bot]'

      - uses: actions/checkout@v3

      - uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Install dependencies
        shell: bash
        run: pnpm install --frozen-lockfile

      - name: Build app
        shell: bash
        run: pnpm build
        env:
          NEXT_PUBLIC_HOST_URL: 'https://docs.staging.5afe.dev'

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v3
        with:
          role-to-assume: ${{ secrets.AWS_ROLE }}
          aws-region: ${{ secrets.AWS_REGION }}

      # Deploy the main branch to staging
      - name: Deploy to the staging S3
        if: github.ref == 'refs/heads/main'
        env:
          BUCKET: s3://${{ secrets.AWS_STAGING_BUCKET_NAME }}/current
        run: bash ./.github/scripts/s3_upload.sh

      # Extract branch name
      - name: Extract branch name
        shell: bash
        ## Allow only alphanumeric characters and convert to lower case,
        run: echo "branch=$(echo $GITHUB_HEAD_REF | sed 's/[^a-z0-9]/_/ig' | sed 's/[A-Z]/\L&/g')" >> $GITHUB_OUTPUT
        id: extract_branch

      # Deploy to S3
      - name: Deploy PR branch
        if: github.event.number
        env:
          BUCKET: s3://${{ secrets.AWS_REVIEW_BUCKET_NAME }}/docs/${{ steps.extract_branch.outputs.branch }}
        run: bash ./.github/scripts/s3_upload.sh

      # Comment with the deployment link
      - name: Post an epic deployment link in the PR
        if: always() && github.event.number
        uses: mshick/add-pr-comment@v2
        with:
          message-id: praul
          message: |
            ## Branch preview
            ✅ Deployed successfully in branch deployment:

            https://${{ steps.extract_branch.outputs.branch }}--docs.review.5afe.dev
          message-failure: |
            ## Branch preview
            ❌ Deploy failed!
