name: Weekly update for supported networks

on:
  schedule:
  - cron: "0 9 * * 1"
  workflow_dispatch:

jobs:
  generate-supported-networks:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: pnpm/action-setup@v4

      - name: Install dependencies
        shell: bash
        run: pnpm install --frozen-lockfile

      - name: Generate supported networks
        run: pnpm generate-supported-networks

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v5
